.BackDrop {
    z-index: 50;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    position: fixed;
    top: 15px;
    left: 15px;
    color: #fff;
    z-index: 99;
    background: transparent;
    border: none;
}

.btn:focus{
    outline: none !important;
}
