.BackDrop {
    z-index: 50;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    position: fixed;
    top: 15px;
    left: 15px;
    color: #fff;
    z-index: 99;
    background: transparent;
    border: none;
    transition: transform .3s, color .3s;


}

.btn:focus {
    outline: none !important;
}

.btn:hover {
    transform: scale(1.3);
    color: #09aac9;
    transition: transform .3s, color .3s;
}
