.Card {
  position: relative;
  transition: box-shadow .5s;
  width: 100%;
  break-inside: avoid;
}

.Card:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
  cursor: zoom-in;
}

.Card a{
  position: absolute;
  bottom: 0;
  left: 10px;
  opacity: 0;
  transition: opacity .5s;
  color: #fff;
}

.Card:hover a {
  opacity: 1;
  transition: opacity .5s;
  color: #fff;
}

.Card img {
  max-width: 100%;
  transition: filter .1s;

}

.Card:hover img {
  filter: brightness(50%);
  transition: filter .1s;
}

.Card time {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity .5s;
}

.Card:hover time {
  opacity: 1;
  transition: opacity .5s;
}

.Card span {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity .5s;
}

.Card span i {
  transform: translateY(6px);
}

.Card:hover span {
  opacity: 1;
  transition: opacity .5s;
}

.linkPhoto {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
}

