

 .modal {
     position: fixed;
     overflow-y: auto;
     top: 5vh;
     bottom: 0;
     left: 0;
     right: 0;
     max-width: 80vw;
     height: 90vh;
     margin: 0 auto;
     background: #fff;
     z-index: 9999;
     border-radius: 5px;
     box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
 }

 .my-modal-body {
     width: 800px;
 }
